.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #fff;
}

.footer div {
  margin-top: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}
